<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">OFW Confirmed Cases : <b> {{ numberCases }} </b></h4>
                        <p class="category">Patients Data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                            <table #datatable class="table table-striped table-bordered table-sm row-border hover"></table>

                    </div>
                </div>
               
            </div>
            
        </div>
    </div>
</div>
