<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" >
                <lbd-chart *ngIf="localGenderUpdated"
                  [title]="'Local Statistics' "
                  [chartClass]="'ct-perfect-fourth'"
                  [chartType]="localChartType"
                  [chartData]="localChartData"
                  [withHr]="true"
                  [legendItems]="localChartLegendItems"
                  [footerIconClass]="'fa fa-clock-o'"
                  [footerText]="'Local Cases'">
                </lbd-chart>
            </div>
            <div class="col-md-8">
                TO BE ADDED
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" >
                <lbd-chart *ngIf="ofwGenderUpdated"
                [title]="'OFW Statistics'"
                [chartClass]="'ct-perfect-fourth'"
                [chartType]="ofwChartType"
                [chartData]="ofwChartData"
                [legendItems]="ofwChartLegendItems"
                [withHr]="true"
                [footerIconClass]="'fa fa-clock-o'"
                [footerText]="'OFW Cases'">
              </lbd-chart>
            </div>
            <div class="col-md-6">
                <div class="card">
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
